.all-pages a {
  text-decoration: none;
  color: inherit;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}
.all-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: row;
  cursor: pointer;
}
